<head>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
</head>

<div data-search-dogs-target="list">

    <% if params[:query].blank? %>
      <%= pluralize dogs.count, 'dog' %> available
    <% else %>
      <%= pluralize dogs.count, 'result' %> for "<code><%= params[:query] %></code>"
    <% end %>
  <%= link_to 'Map', dogs_map_path, class: "btn btn-flat" %>
  <div class="dogs-container">
    <% dogs.each do |dog| %>
      <div class="dog-trip">
        <div>
          <%= cl_image_tag dog.photo.key, height: 300, width: 400, crop: :fill, class: "dog-image" %>
          <i class="fal fa-heart-circle"></i>
            <div class="details-container">
              <p> Name: <%= dog.name %></p>
              <p> Breed: <%= dog.breed %></p>
              <p> Address: <%=  dog.address %></p>
              <%= link_to 'View dog', dog_path(dog), class: "btn btn-flat" %>
            </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
