
<div data-search-dogs-target="list">

  <div class="total-dogs">
      <% if params[:query].blank? %>
        <h3><%= pluralize dogs.count, 'dog' %> available</h3>
      <% else %>
        <h3> <%= pluralize dogs.count, 'result' %> for "<code><%= params[:query] %></code>" </h3>
      <% end %>
  </div>

  <div class="dogs-container">
    <% dogs.each do |dog| %>
      <div class="dog-trip">
        <div class="hearticon">
          <i class="fab fa-gratipay"></i>
        </div>
        <%= cl_image_tag dog.photo.key, height: 300, width: 400, crop: :fill, class: "dog-image" %>
        <div class="details-container">
          <div class="namecolor">
            <h2><%= dog.name %></h2>
          </div>
          <div>
            <div class="dog-detail-text">
              <h4> <i class="fas fa-dog fas-large"></i><%= dog.breed %></h4>
              <p class="address-text"> <i class="fas fa-home fas-large"></i><%=  dog.address %></p>
            </div>
            <div class="button-center">
              <%= link_to ' ðŸ¾ Choose me! ðŸ¾', dog_path(dog), class: "btn btn-flat" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
