<div data-search-dogs-target="list">

  <div class="dogs-container">
    <% dogs.each do |dog| %>
      <div class="dog-trip">
<<<<<<< HEAD
        <div>
          <%= cl_image_tag dog.photo.key, height: 300, width: 400, crop: :fill, class: "dog-image" %>
          <i class="fal fa-heart-circle"></i>
            <div class="details-container">
              <p> Name: <%= dog.name %></p>
              <p> Breed: <%= dog.breed %></p>
              <p> Address: <%=  dog.address %></p>
=======
        <i class="fab fa-gratipay"></i>
        <%= cl_image_tag dog.photo.key, height: 300, width: 400, crop: :fill, class: "dog-image" %>
        <div class="details-container">
          <div class="namecolor">
            <h2> Name: <%= dog.name %></h2>
          </div>
          <div>
            <div class="dog-detail-text">
              <h2> <i class="fas fa-dog fas-large"></i><%= dog.breed %></h2>
              <h2 class="address-text"> <i class="fas fa-home fas-large"></i><%=  dog.address %></h2>
            </div>
            <div class="button-center">
>>>>>>> 44ee99ace18c04aaa21ade52f01052c10e13f430
              <%= link_to 'View dog', dog_path(dog), class: "btn btn-flat" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
