
<h5>Name: <%= @dog.name %></h5>
<h5>Breed: <%= @dog.breed %></h5>
<h5>Size: <%= @dog.size %></h5>
<h5>Age: <%= @dog.age %></h5>
<h5>Description: <%= @dog.description %></h5>
<h5>Gender: <%= @dog.gender %> </h5>
<h5>Address: <%= @dog.address %></h5>
<hr>
<%= simple_form_for([@dog, @booking]) do |f| %>
  <%= f.input :start_date, as: :date, html5: true%>
  <%= f.input :end_date, as: :date, html5: true%>
  <%= f.submit class: "btn-flat btn-flat:hover" %>
<% end %>

