<div class="profile-wrapper">
  <%= render 'shared/side_navbar' %>
  <div class="bio-wrapper container">

    <% if !current_user.owner %>
      <h1></h1>
      <h1>My Dog Bookings</h1>
      <h2><%= "You haven't booked any dogs yet!" if @user.bookings.empty? %></h2>
      <% @user.bookings.each do |booking| %>
        <div class="notification">
          <div class="notification-content">
            <p><small>From <%= booking.start_date.strftime("%b %d, %Y") %> to <%= booking.end_date.strftime("%b %d, %Y") %></small></p>
            <p>Requested Dog:<%=link_to booking.dog.name, dog_path(booking.dog)%> | Owned by:<%=link_to booking.dog.user.first_name, user_profile_path(booking.dog.user)%> </p>
          </div>
            <%# CHAT BUTTON %>
            <% chatroom = Chatroom.where(booking_id: booking.id) %>
            <%= link_to "Send a Message", chatroom_path(chatroom[0]), id: "send-button"%>
          <div class="notification-actions">

            <%if booking.confirmed %>
              <p>Status of Request: Accepted</p>
            <% else %>
              <p>Status of Request: Pending</p>
            <% end %>
          </div>
        </div>
        <hr>
      <% end %>
    <% else %>

    <%# User is a Owner %>
    <h1></h1>
    <h1>My Dog Bookings</h1>
    <% @user.dogs.each do |dog| %>
      <% dog.bookings.each do |booking| %>
        <div class="notification">
          <%= cl_image_tag  booking.user.photo.key, class: "avatar-large avatar-bordered" %>
          <div class="notification-content">
            <p><small>From <%= booking.start_date.strftime("%b %d, %Y") %> to <%= booking.end_date.strftime("%b %d, %Y") %></small></p>
            <p>Requested Dog:<%=link_to booking.dog.name, dog_path(booking.dog)%> | Walker Name:<%=link_to booking.user.first_name, user_profile_path(booking.user_id)%></p>
          </div>
          <%if booking.confirmed %>
            <p>Status of Request: Accepted</p>
          <% else %>
          <div class="notification-actions">

            <%# CHAT BUTTON %>
            <% chatroom = Chatroom.where(booking_id: booking.id) %>
            <%= link_to "Send a Message", chatroom_path(chatroom[0])%><i class="fas fa-comment-dots fa-lg"></i></i>

            <%= link_to "Accept", accept_booking_path(booking), method: :get, remote: :true%><i class="fas fa-check-circle fa-lg"></i></i>
            <%= link_to "Decline", reject_booking_path(booking), method: :get, remote: :false%><i class="fas fa-times-circle fa-lg"></i></i>
          </div>
          <% end %>
        </div>
        <hr>
      <% end %>
    <% end %>

      <%# Show dogs %>
    <h1>My Dogs</h1>

    <div class="dogs-container">
      <% @dogs.each do |dog| %>
        <div class="dog-trip">
          <%= cl_image_tag dog.photo.key, height: 300, width: 400, crop: :fill, class: "dog-image" %>
          <div class="details-container">
            <div class="namecolor">
              <h2><%= dog.name %></h2>
            </div>
            <div>
              <div class="dog-detail-text">
              <p class="breed-text"> <i class="fas fa-dog fas-large"></i><%= dog.breed %></p>
              <p class="age-text"> <i class="fas fa-paw fas-large"></i><%=  dog.age %> years old</p>
            </div>
            <div class="button-center">
              <%= link_to 'My Poochy', dog_path(dog), class: "btn btn-flat" %>
            </div>
          </div>
         </div>
        </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
