<div class="profile-wrapper">
  <%= render 'shared/side_navbar' %>
  <div class="bio-wrapper container">

      <div class="titleprofile my-3 text-left">
        <h1>My Profile</h1>
      </div>

    <%# BOTSRAP CARD BIO%>
    <div class="profile-card">
        <div class="profile-avatar img">
          <div class='text-center'>
          <%= cl_image_tag @user.photo.key %>
            <h5 class="card-title"><%= @user.first_name %> <%= @user.last_name %> </h5>
            <h5 class="card-title-role"><%= @user.owner ? 'Owner' : 'Walker' %></h5>
            <p class="card-text-email"><small> <%= @user.email %></small></p>
          <p class="card-text-email"><small>Member since: <%= @user.created_at.strftime("%b %d, %Y") %></small></p>
          </div>
        </div>
          <div class="description-card">
            <h2 class="reviewfont"> <strong>About</strong></h2>
            <p> <%= @user.description %> </p>

          <% if !@user.owner %>

            <h6 class="card-text">Poochies: <%= @user.poochies %></h6>
          <% end %>
    </div>
  </div>
    <% if !@user.owner %>
      <div class="container profile-card review-container">
        <h1 class="reviewfont">Reviews</h1>
        <div>
          <p> <%= render 'reviews' %> </p>
        </div>
      </div>
    <% end %>
</div>
</div>
