<div class="profile-wrapper">
  <%= render 'shared/side_navbar' %>
  <div class="bio-wrapper">

    <%# BOTSRAP CARD BIO%>
    <div class="card m-3 " style="max-width: 740px;">
      <div class="row g-0">
        <div class="col-md-3">
          <%= cl_image_tag @user.photo.key, height: 150, width: 150, crop: :fill, class: "rounded-circle m-3 border border-3"  %>
        </div>
        <div class="col-md-9">
          <div class="card-body">
            <h5 class="card-title"><%= @user.first_name %> <%= @user.last_name %> - <%= @user.owner ? 'Owner' : 'Walker' %></h5>
            <p class="card-text">"<%= @user.description %>"</p>
            <p class="card-text"><small class="text-muted"><%= @user.email %></small></p>

          <% if !@user.owner %>

            <p class="card-text"><small class="text-muted">Poochies: <%= @user.poochies %></small></p>
          <% end %>

          <p class="card-text"><small class="text-muted">Member since: <%= @user.created_at %></small></p>
        </div>
      </div>
    </div>
    <hr>

    <%= render 'reviews' %>

  </div>
</div>
