<div class="profile-wrapper">
  <div class="side-nav">
    <%= link_to user_profile_path(current_user)	do %>
    <i class="fas fa-user-circle fa-2x"></i>
    <% end %>
    <% if @user == current_user %>
      <%= link_to user_dashboard_path(current_user)	do %>
        <i class="fas fa-archive fa-2x"></i>
      <% end %>

        <i class="fas fa-heart fa-2x"></i>
        <i class="fas fa-comments fa-2x"></i>

    <% end %>
  </div>
  <div class="bio-wrapper">
    <h4>Name: <%= @user.first_name %> <%= @user.last_name %></h4>
    <h4>Email: <%= @user.email %></h4>
    <h4>About me: <%= @user.description %></h4>
  </div>

  <%# REVIEW FORM %>
  <div id="reviews">
    <% if @user.reviews.blank? %>
       <p>No reviews yet... <%= @user.first_name %></p>
    <% else %>
      <% @user.reviews.each do |review| %>
        <p id="review-<%= review.id %>"><%= review.content %></p>
        <p>Stars: <%= review.rating %></p>
        <hr>
      <% end %>
    <% end %>
  </div>

  <% if @user != current_user && @user.dogs.empty? %>
    <div class="container">
      <h1>Leave a review</h1>
      <div class="row">
        <div class="col-xs-4">
          <%= simple_form_for([@user, @review], remote: true) do |f| %>
            <%= f.input :content %>
            <%= f.input :rating, collection: (1..5).to_a, label: "Rate this Walker" %>
            <%= f.submit "Send your review" %>
          <% end %>
      </div>
    </div>
  <% end %>


</div>
