
<h1>Profile</h1>
  <p>Name: Leon W. <%= @user.first_name %> <%= @user.last_name %> </p>
  <p>From: <%= booking.start_date %> to <%=booking.end_date %>
  <p>Description: I am a 24 y old dog lover</p>
  <p>Number of walks: 4 <%= @user.poochies %></p>
  <p>Email: <%= @user.email %></p>
