<% if @user.dogs.empty? %>

<h1>My Dog Bookings</h1>
<h2><%= "You haven't booked any dogs yet!" if @user.bookings.empty? %></h2>
<div class="card-grid">
 <% @user.bookings.each do |booking| %>
  <div class="card-trip">
        <%= cl_image_tag @dog.photo.key%>
    <div class="card-trip-infos">
        <%= link_to booking.dog.name, dog_path(booking.dog) %>
        <p>from: <%= booking.start_date %></p>
        <p>to: <%= booking.end_date %></p>
        <% if booking.confirmed == false %>
           <p>Status of Booking: Pending</p>
        <% else%>
           <p>Status of Booking: Accepted</p>
        <% end%>
      </div>
    </div>
  </div>
</div>
<% end %>

<p>_________________________________________________________</p>

<% else %>

<h1>My Dogs</h1>
  <% @dogs.each do |dog| %>
    <%= cl_image_tag dog.photo.key, height: 300, width: 400, crop: :fill %>
    <p> Name: <%= dog.name %></p>
    <p> Size: <%= dog.size %></p>
    <p> Age: <%=  dog.age %></p>
    <p> Description: <%=  dog.description %></p>
    <p> Likes: <%=  dog.likes %></p>
    <p> Address: <%=  dog.address %></p>
    <p> Gender: <%=  dog.gender%></p>
  <% end %>

<h1>My Booking Requests</h1>
  <% if @user == current_user %>
  <% @user.dogs.each do |dog| %>
    <% dog.bookings.each do |booking| %>
      <p>Name: Leon W. <%= @user.first_name %> <%= @user.last_name %> </p>
      <p>From: <%= booking.start_date %> to <%=booking.end_date %>
      <p>Description: I am a 24 y old dog lover</p>
      <p>Number of walks: 4 <%= @user.poochies %></p>
      <p>Email: <%= @user.email %></p>
      <%if booking.confirmed %>
        <p>Status of Request: Accepted</p>
      <% else %>
        <%= link_to "Accept", accept_booking_path(booking), method: :get, remote: :true, class: "btn-flat"%>
        <%= link_to "Decline", reject_booking_path(booking), method: :get, remote: :false, class: "btn-flat"%>
      <% end %>
    <p> __________________</p>
    <% end %>
  <% end %>
<% end %>
<% end %>
