<% if @user.dogs.empty? %>

<%# if @user.owner? %>

<h1>My Dog Bookings</h1>
<h2><%= "You haven't booked any dogs yet!" if @user.bookings.empty? %></h2>
<div class="card-grid">
 <% @user.bookings.each do |booking| %>
  <div class="card-trip">
        <%# <%= cl_image_tag booking.dog.photo.key%>
    <div class="card-trip-infos">
      <div>
        <%= link_to booking.dog.name, dog_path(booking.dog) %>
        <p>from: <%= booking.start_date %></p>
        <p>to: <%= booking.end_date %></p>
        <% if booking.confirmed == false %>
           <p>Status of Booking: Pending</p>
        <% else%>
           <p>Status of Booking: Accepted</p>
        <% end%>
      </div>
      <img src="https://avatars.githubusercontent.com/u/90570222?v=4" class="card-trip-user avatar-bordered" />
    </div>
  </div>
</div>
<br></h1>
<% end %>

<p>_________________________________________________________</p>

<% else %>

<h1>My Dogs</h1>
<div class="container-left">
  <div class="card-trip-booking">
        <div class="details-container">
          <div class="cars-info">
              <% @dogs.each do |dog| %>
              <p> Name: <%= dog.name %></p>
              <p> Size: <%= dog.size %></p>
              <p> Age: <%=  dog.age %></p>
              <p> Description: <%=  dog.description %></p>
              <p> Likes: <%=  dog.likes %></p>
              <p> Address: <%=  dog.address %></p>
              <p> Gender: <%=  dog.gender%></p>
              <p> __________</p>
              <% end %>
            </div>
        </div>
    </div>

<h1>My Dog Requests</h1>
<h2><%= "You have no bookings yet!" if @user.bookings.empty? %></h2>
<div class="card-grid">
 <% @user.bookings.each do |booking| %>
  <div class="card-trip">
        <%# <%= cl_image_tag booking.dog.photo.key%>
    <div class="card-trip-infos">
      <div>
        <img src="https://avatars.githubusercontent.com/u/90570222?v=4" class="card-trip-user avatar-bordered" />
          <p>Leon Wisskirchen <%= @user.first_name %> <%= @user.last_name %> would like to walk</p>

        <%= link_to booking.dog.name, dog_path(booking.dog) %>
        <p>from: <%= booking.start_date %></p>
        <p>to: <%= booking.end_date %></p>
        </div>
          <p>Number of walks: 4 <%= @user.poochies %></p>
          <p>Description: I am a 24 y old dog lover</p>
          <p>Email: <%= @user.email %></p>
        </div>
        <% if booking.confirmed == false %>
           <p>Status of Request: Pending</p>
        <% else%>
           <p>Status of Request: Accepted</p>
        <% end%>
        <br>
        <td class="booking-<%= booking.id %>">
            <%= link_to "#{ booking.confirmed ? 'Accept' : 'Accept' }", accept_booking_path(booking), method: :patch, remote: :true, class: "btn-flat"%>
            <%= link_to "#{ booking.confirmed ? 'Decline' : 'Decline' }", reject_booking_path(booking), method: :patch, remote: :false, class: "btn-flat"%>
        </td>
  </div>
</div>
<br></h1>
<% end %>
<% end %>
