<div class="container-left">
  <div class="card-trip-booking">
        <div class="details-container">
          <div class="cars-info">
              <h5>Name: <%= @dog.name %></h5>
              <h5>Size: <%= @dog.size %></h5>
              <h5>Age: <%= @dog.age %></h5>
              <h5>Description: <%= @dog.description %></h5>
              <h5>Gender: <%= @dog.gender %> </h5>
              <h5>Address: <%= @dog.address %></h5>
            </div>
        </div>
    </div>
