<div style="background-color:#F6AE99;min-height:100vh;">
  <div class="logo">
    <%= image_tag "logo2.png" %>
    </div>
  <div class="homebtns">
    <div class="home-btn">

<<<<<<< HEAD
    <%= image_tag "savior.png", class:"btn-img"%>
=======
    <%= image_tag "savior.png", class:"btn-img walker-image" %>
>>>>>>> 44ee99ace18c04aaa21ade52f01052c10e13f430
    <%= link_to 'Become a walker', dogs_path, class: "btn btn-flat" %>
    </div>
    <div class="home-btn">
    <%= image_tag "owner.png", class:"btn-img become-owner-img" %>
    <%= link_to 'Become an owner', new_dog_path, class: "btn btn-flat" %>
    </div>
  </div>
</div>
